@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* ----------------------------------------------------------Colors */

.bg-color {
  background-color: #e5e5e5;
}

.text-color {
  color: #1d1d1d;
}

/* ----------------------------------------------------------Special paddings/margins/text */

body {
  background-color: #e5e5e5;
  color: #1d1d1d;
  font-family: "Playfair Display";
  font-size: 14px;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-family: "Roboto";
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: "Roboto";
  line-height: 16px;
}

a {
  color: #1d1d1d;
}

/* ----------------------------------------------------------Classes */

.container {
  margin: 0 auto;
  padding: 0 2.857rem;
}

.section-margin-t {
  margin-top: 150px;
}

.number {
  width: 56px;
  height: 64px;

  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.title {
  width: 60px;
  height: 24px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  padding-top: 8px;
}

.heading {
  display: flex;
  margin-bottom: 2.286rem;
}

/* ----------------------------------------------------------Header */

header {
  background-color: rgba(229, 229, 229, 1);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0);
  position: fixed;
  width: 100vw;
  z-index: 3;
}

header .logo {
  display: block;
  float: left;

  font-family: "Playfair Display SC" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 20px;
  text-decoration: none;
}

/* ----------------------------------------------------------Home Section */

.section-home {
  padding-top: 250px;
}

.section-home h1:after {
  content: "";
  display: block;
  margin-top: 1.2rem;
  height: 2px;
  width: 70px;
  background: ;
}

/* ----------------------------------------------------------About Section */

.section-about h3 {
  max-width: 70%;
  margin-bottom: 1rem;
}

.about-img {
  margin-top: 2.5rem;
  max-width: 100%;
}

/* ----------------------------------------------------------Projects Section */

.section-projects .project {
  margin-bottom: 50px;
  padding: 0 2rem;
}

.section-projects .project:last-child { margin-bottom: 0; }

.section-projects .project.p-0 { padding: 0; }
.section-projects .project.p-2 { padding: 0 3rem; }

.section-projects .project .img {
  max-width: 100%;
  width: 100%;
}

.project-title {
    margin-top: 0.85rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1d1d1d;
}

/* ----------------------------------------------------------Contact Section */

.contact-form {
  background: url(assets/images/contact.jpg);
  width: 75%;
  height: auto;
}

/*-----------------------------------------------------------Footer */

.footer {
  display: flex;
  justify-content: space-between;
}

div.footer > ul {
  font-family: "Roboto";
  font-size: 8px;
  line-height: 11px;
}

.copyright {
  display: flex;
  justify-content: space-between;

  font-family: "Roboto";
  font-size: 6px;
  line-height: 8px;

  color: #828282;
}