@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* ----------------------------------------------------------Colors */

.bg-color {
  background-color: #e5e5e5;
}

.text-color {
  color: #1d1d1d;
}

/* ----------------------------------------------------------Special paddings/margins/text */

body {
  background-color: #e5e5e5;
  color: #1d1d1d;
  font-family: "Playfair Display";
  font-size: 14px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

h2 {
  font-family: "Roboto";
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #1d1d1d;
}

/* ----------------------------------------------------------Classes */

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-margin-t {
  margin-top: 100px;
}

.number {
  font-size: 64px;
  line-height: 86px;
  text-align: center;
}

.number:after {
  content: "";
  display: block;
  margin-top: -0.2rem;
  height: 1px;
  width: 31px;
  background: #1d1d1d;
}

.title {
  width: 60px;
  height: 24px;

  font-size: 24px;
  line-height: 32px;

  padding-top: 8px;
}

.heading {
  display: flex;
  margin-bottom: 2rem;
}

/* ----------------------------------------------------------Header */

header {
  background-color: rgba(229, 229, 229);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: block;
  float: left;
  z-index: 2;

  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  padding: 20px 20px;
  text-decoration: none;
}

/* ----------------------------------------------------------Home Section */

.section-home {
  padding-top: 100px;
}

.section-home h1:after {
  content: "";
  display: block;
  margin-top: 1.2rem;
  height: 2px;
  width: 70px;
  background: #1d1d1d;
}

/* ----------------------------------------------------------About Section */

.section-about {
  padding-top: 4rem;
}

.section-about .heading {
  margin-bottom: 1rem;
}

.section-about h3 {
  max-width: 70%;
  margin-bottom: 1rem;
}

.about-img {
  margin-top: 2rem;
  max-width: 100%;
}

/* ----------------------------------------------------------Projects Section */

.section-projects {
  padding-top: 4rem;
}

.projects {
  display: flex;
  flex-flow: column wrap;
}

.section-projects .project {
  margin-bottom: 50px;
  padding: 0 2rem;
}

.section-projects .project.p-0 {
  padding: 0;
}

.section-projects .project.p-2 {
  padding: 0 3rem;
}

.section-projects .project img {
  max-width: 100%;
  width: 100%;
}

.project-title {
  margin-top: 0.85rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1d1d1d;
}

.project-title span {
  font-size: 18px;
  line-height: 24px;
}

/* ----------------------------------------------------------Contact Section */

#section-contact {
  display: flex;
  flex-flow: column;
}

.section-contact .heading {
  margin-bottom: 1.75rem;
  padding: 0 1.5rem;
}

.contact-form {
  background-image: url("../images/contact.jpg");

  min-height: 500px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 20px;
  width: 80%;
  padding: 25px;
  background-color: #ffffff;
  height: 400px;
}

.form h4 {
  font-family: "Roboto";
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: center;
}

input[name="name"],
input[name="email"],
textarea[name="message"] {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #1d1d1d;

  width: 90%;
  padding: 10px;
  margin: 0px 0px 18px 0;
  border: 1px solid #1d1d1d;
  background: #f1f1f1;

  align-self: center;
}

input[name="name"] {
  margin-top: 22px;
}

textarea[name="message"] {
  height: 30%;
  resize: none;
}

input[name="text"]:focus,
input[name="password"]:focus textarea[name="message"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  align-self: flex-end;
  margin-right: 1.5%;
  background-color: #eb486f;
  color: white;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #1d1d1d;
  box-sizing: border-box;
  cursor: pointer;
  width: 4rem;
}

.btn:hover {
  opacity: 1;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1d1d1d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1d1d1d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1d1d1d;
}

/*-----------------------------------------------------------Footer */

.footer {
  display: flex;
  justify-content: space-between;

  padding: 25px 20px 20px 20px;
  border-top: 1px solid #040404;
  height: 80px;
}

.list-item,
.list-item p {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}

.copyright {
  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.copyright a {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}

/*-----------------------------------------------------------Media Queries */

@media (max-width: 768px) {
  p {
    text-align: justify;
  }

  #section-contact {
    margin-top: 0;
  }
}

@media (max-width: 950px) {
  header span {
    display: flex;
    width: 10%;
    font-size: 24px;
    margin-right: 3%;
    align-items: center;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(85, 88, 115, 0.9);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    overflow-y: hidden;
  }

  .overlay-content {
    display: flex;
    align-items: flex-end;
    margin-right: 15%;
    margin-top: 10%;
    flex-flow: column;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .overlay-content a:hover,
  .overlay-content a:active {
    color: #1d1d1d;
    text-decoration: underline;
  }

  .overlay .closebtn {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.4rem;
    margin-right: 0.7rem;
  }

  #section-contact h3 {
    order: -1;
    visibility: hidden;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (min-width: 450px) {
  .section-projects .project.p-0 {
    margin-top: 25%;
  }
}

@media (min-width: 550px) {
  .section-projects .project.p-0 {
    margin-top: 25%;
  }
}

@media (min-width: 768px) {
  header .logo {
    margin-left: 0.6rem;
    font-size: 40px;
    line-height: 48px;
  }

  header span {
    justify-content: center;
    font-size: 36px;
    margin-right: 0.6rem;
  }

  .overlay a {
    font-size: 64px;
    line-height: 80px;
  }

  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .section-margin-t {
    margin-top: 200px;
  }

  .section-home {
    padding-top: 270px;
  }

  h1 {
    font-weight: bold;
    font-size: 71px;
    line-height: 95px;
  }

  .section-home h1:after {
    content: "";
    display: block;
    margin-top: 1.2rem;
    height: 2px;
    width: 140px;
    background: #1d1d1d;
  }

  .section-about {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  p {
    text-align: start;
  }

  .about-me {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .about-img {
    margin-top: 2rem;
    max-width: 70%;
    align-self: center;
    max-height: 600px;
  }

  .heading {
    margin-bottom: 0.625rem;
  }

  .section-projects .heading {
    margin-bottom: 2.813rem;
  }

  .section-projects .project {
    margin-bottom: 50px;
    padding: 0 0rem;
    max-width: 45%;
  }

  .projects {
    height: 600px;
  }

  .box > * {
    flex: 1 1 80px;
  }

  .projects :nth-child(1) {
    order: 1;
  }

  .projects :nth-child(2) {
    order: 3;
  }

  .projects :nth-child(3) {
    order: 2;
  }

  .section-projects .project.p-0 {
    margin-top: 0;
    align-self: flex-end;

    max-width: 100%;
    width: 100%;
  }

  .section-projects .project.p-2 {
    align-self: flex-end;
    padding: 4.8rem 0;
  }

  .section-contact {
    padding: 0 15%;
  }

  .section-contact .heading {
    padding: 0;
  }

  .contact-form {
    min-height: 600px;
  }

  .form {
    max-width: 450px;
    height: 450px;
    justify-content: space-between;
  }

  .btn {
    margin-right: 3%;
  }

  footer {
    margin: 0 auto;
    padding: 0 15%;
  }

  .footer {
    padding: 25px 0 20px 0;
  }

  .list-item {
    font-size: 14px;
    line-height: 20px;
  }

  .copyright {
    padding: 20px 0;
  }

  .copyright a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 800px) {
  .section-about {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .about-me {
    max-width: 45%;
    max-height: 40%;
    align-self: flex-end;
  }

  .about-img {
    margin-top: 2rem;
    max-width: 45%;
    align-self: flex-end;
  }

  .projects {
    height: 600px;
  }

  .section-contact {
    width: 70%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}

@media (min-width: 950px) {
  header {
    justify-content: space-between;
  }

  header .logo {
    width: 25%;
    margin-left: 5%;
    padding: 20px 0px 20px 0px;
  }

  header span {
    visibility: hidden;
  }

  .closebtn i {
    visibility: hidden;
  }

  #myNav {
    display: flex;
    align-items: center;
    margin-right: 2.5%;
    width: 75%;
    justify-content: flex-end;
    align-self: center;
  }

  .overlay-content {
    display: flex;
  }

  .overlay-content a {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    padding: 8px 20px 8px 0px;
  }

  .overlay-content a:hover::after {
    content: "";
    display: block;
    margin-top: 0.6rem;
    height: 2px;
    width: 31px;
    background: #1d1d1d;
  }

  .overlay-content a:active::after {
    content: "";
    display: block;
    margin-top: 0.6rem;
    height: 2px;
    width: 31px;
    background: #1d1d1d;
  }

  .section-home {
    padding-top: 500px;
    padding-bottom: 300px;
  }

  #section-contact {
    padding-top: 4rem;
  }

  .section-contact .heading {
    margin-bottom: 0;
  }

  .section-contact h3 {
    width: 30%;
    margin-bottom: 1.75rem;
  }

  .fa-chevron-right:before {
    margin-left: 0.3rem;
  }

  .contact-form {
    min-height: 700px;
  }

  .form {
    height: 500px;
  }

  .form h4 {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 1100px) {
  .section-margin-t {
    margin-top: 200px;
  }

  .section-home {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  .projects {
    height: 800px;
  }
}

@media (min-width: 1400px) {
  .section-projects .project.p-0 {
    margin-top: 10%;
  }

  .overlay-content a {
    padding: 8px 60px 8px 0px;
  }

  .form {
    max-width: 550px;
  }
}

@media (min-width: 1850px) {
  .projects {
    height: 1000px;
  }
}

@media (min-width: 2400px) {
  .projects {
    height: 1200px;
  }
}

@media (min-width: 2900px) {
  .projects {
    height: 1400px;
  }
}
